anthropic
langchain
langchain-anthropic
langchain-community
langchain-text-splitters
langchain-huggingface
chromadb
pypdf
python-dotenv
sentence-transformers
langgraph
langchain-core
fastapi
uvicorn
faker
pandas
aiofiles